---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"testing list 69b711f36a652d0a5f12dbab0de2f0c3","dynamic":false,"portal_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d3f5bbef-e749-4001-92f7-becffdf35d6a
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498515'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B12BBE045143509C18C117A38BA48ABCE6B56EB55000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":1507,"internalListId":1507,"createdAt":1655887708618,"updatedAt":1655887708618,"name":"testing
        list 69b711f36a652d0a5f12dbab0de2f0c3","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1655887708618,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Wed, 22 Jun 2022 08:48:28 GMT
recorded_with: VCR 6.1.0
