---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/meetings?hapikey=fake_api_key
    body:
      encoding: UTF-8
      string: '{"properties":{"hs_timestamp":"1651595925705","hubspot_owner_id":null,"hs_meeting_title":"hs_meeting_title","hs_meeting_body":"hs_meeting_body","hs_internal_meeting_notes":"Note","hs_meeting_external_url":"#","hs_meeting_location":"Remote","hs_meeting_start_time":"invalid","hs_meeting_end_time":"1651569300000","hs_meeting_outcome":"SCHEDULED"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 40bddfab-d3c2-4740-9b75-42a3420afda4
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249945'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2BCE1CB6470ACA739C6D141742FB1A9444191FA415000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Property values were not valid: [{\"isValid\":false,\"message\":\"invalid
        was not a valid long. Portal 20199171, object type 0-47\",\"error\":\"INVALID_LONG\",\"name\":\"hs_meeting_start_time\"}]","correlationId":"40bddfab-d3c2-4740-9b75-42a3420afda4","category":"VALIDATION_ERROR"}'
  recorded_at: Tue, 03 May 2022 16:38:46 GMT
[...]
