---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/meetings?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":{"hs_timestamp":"1651594194587","hubspot_owner_id":null,"hs_meeting_title":"hs_meeting_title","hs_meeting_body":"hs_meeting_body","hs_internal_meeting_notes":"Note","hs_meeting_external_url":"#","hs_meeting_location":"Remote","hs_meeting_start_time":"1651568400000","hs_meeting_end_time":"1651569300000","hs_meeting_outcome":"SCHEDULED"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - cbd0531c-4e54-4f28-962b-90d332fd3401
      X-Trace:
      - 2BF25845227D2F930A5ECAB0EE43C36E9A9F22DDA2000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Only GET requests can be made to HubSpot''s
        <HAPI_KEY> account. You can create a test account to try other methods. You
        can find more details at https://developers.hubspot.com/docs/faq/how-do-i-create-a-test-account.","correlationId":"cbd0531c-4e54-4f28-962b-90d332fd3401","category":"INVALID_AUTHENTICATION","links":{"test
        account":"https://developers.hubspot.com/docs/faq/how-do-i-create-a-test-account"}}'
  recorded_at: Tue, 03 May 2022 16:09:54 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/meetings?hapikey=fake_api_key
    body:
      encoding: UTF-8
      string: '{"properties":{"hs_timestamp":"1651595250468","hubspot_owner_id":null,"hs_meeting_title":"hs_meeting_title","hs_meeting_body":"hs_meeting_body","hs_internal_meeting_notes":"Note","hs_meeting_external_url":"#","hs_meeting_location":"Remote","hs_meeting_start_time":"1651568400000","hs_meeting_end_time":"1651569300000","hs_meeting_outcome":"SCHEDULED"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/meetings/21463412862
      X-Hubspot-Correlation-Id:
      - c5a50c48-8a7c-4af8-9b53-3cd839831e40
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249946'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2BE146CF4A90ABC7AD1D5E5D4178E76709242CB52B000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"21463412862","properties":{"hs_body_preview":"hs_meeting_body","hs_body_preview_html":"<html>\n
        <head></head>\n <body>\n hs_meeting_body\n </body>\n</html>","hs_body_preview_is_truncated":"false","hs_createdate":"2022-05-03T16:27:29.633Z","hs_internal_meeting_notes":"Note","hs_lastmodifieddate":"2022-05-03T16:27:29.633Z","hs_meeting_body":"hs_meeting_body","hs_meeting_end_time":"2022-05-03T09:15:00Z","hs_meeting_external_url":"#","hs_meeting_location":"Remote","hs_meeting_outcome":"SCHEDULED","hs_meeting_source":"CRM_UI","hs_meeting_start_time":"2022-05-03T09:00:00Z","hs_meeting_title":"hs_meeting_title","hs_object_id":"21463412862","hs_timestamp":"2022-05-03T16:27:30.468Z","hubspot_owner_id":null},"createdAt":"2022-05-03T16:27:29.633Z","updatedAt":"2022-05-03T16:27:29.633Z","archived":false}'
  recorded_at: Tue, 03 May 2022 16:27:30 GMT
recorded_with: VCR 6.1.0
