---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/meetings?hapikey=fake_api_key
    body:
      encoding: UTF-8
      string: '{"properties":{"hs_timestamp":"1651670842546","hubspot_owner_id":83185689,"hs_meeting_title":"hs_meeting_title","hs_meeting_body":"hs_meeting_body","hs_internal_meeting_notes":"Note","hs_meeting_external_url":"#","hs_meeting_location":"Remote","hs_meeting_start_time":"1651568400000","hs_meeting_end_time":"1651569300000","hs_meeting_outcome":"SCHEDULED"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/meetings/21492800348
      X-Hubspot-Correlation-Id:
      - b72234d0-7094-4c36-881d-92c60bffe0f1
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249990'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2BB935EA025D5D1F9AC5E09E20AD3B070C4D3C5607000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"21492800348","properties":{"hs_all_owner_ids":"83185689","hs_body_preview":"hs_meeting_body","hs_body_preview_html":"<html>\n
        <head></head>\n <body>\n hs_meeting_body\n </body>\n</html>","hs_body_preview_is_truncated":"false","hs_createdate":"2022-05-04T13:27:24.243Z","hs_internal_meeting_notes":"Note","hs_lastmodifieddate":"2022-05-04T13:27:24.243Z","hs_meeting_body":"hs_meeting_body","hs_meeting_end_time":"2022-05-03T09:15:00Z","hs_meeting_external_url":"#","hs_meeting_location":"Remote","hs_meeting_outcome":"SCHEDULED","hs_meeting_source":"CRM_UI","hs_meeting_start_time":"2022-05-03T09:00:00Z","hs_meeting_title":"hs_meeting_title","hs_object_id":"21492800348","hs_timestamp":"2022-05-04T13:27:22.546Z","hs_user_ids_of_all_owners":"24729168","hubspot_owner_assigneddate":"2022-05-04T13:27:24.243Z","hubspot_owner_id":"83185689"},"createdAt":"2022-05-04T13:27:24.243Z","updatedAt":"2022-05-04T13:27:24.243Z","archived":false}'
  recorded_at: Wed, 04 May 2022 13:27:22 GMT
recorded_with: VCR 6.1.0
